# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# Folders
idea/
venv/
*.pyc
*.exe
*.csv
source.spec
build/source/xref-source.html
build/source/warn-source.txt
build/source/source.exe.manifest
build/source/PYZ-00.toc
build/source/PYZ-00.pyz
build/source/PKG-00.toc
build/source/PKG-00.pkg
build/source/EXE-00.toc
build/source/base_library.zip
build/source/Analysis-00.toc
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/InventoryManagement.iml
.idea/inspectionProfiles/profiles_settings.xml
dist/logo.png
dist/InvScreen.ui
